body {
    background-color: bisque;
}

#material-container h2 {
    color: #1894aa;;
    text-align: center;
}

.material-heading  {
    color: #1894aa;
}

.material-description {
    color: #1894aa; 
}

#material-container ul li {
    list-style: none; 
}